<style>
    .body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
      
      
    }

    h1{
      color: #FF474A;
      font-size: 50px;
      text-align: center;
      letter-spacing: 2px;
      font-family: fantasy;
    }
    
    .main_container{
        background-color: #edf2f4;
        border-radius: 10px;
        padding: 0px 40px;
        border: 4px double #FF474A;
    }

    .slider {
      -webkit-appearance: none;
      width: 92.5%;
      height: 15px;
      background: #ddd;
      color: #FF474A;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 35px;
      border-radius: 5px;
      height: 35px;
      background: #FF474A;
      color: #FF474A;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: #4caf50;
      color: #FF474A;
      cursor: pointer;
    }
    
    .prompt {
        background-color: #F2EEBA;
        padding: 20px;
        font-size: 20px;
        font-family: 'Courier New', monospace;
        color: #101419;
        border: 3px double #FF474A;
        border-radius: 10px;
        width: 46rem;
    }

    .gen_sentence{
        width: 60rem;
        border-radius: 10px;
        padding: 20px;
        background-color: #F2EEBA;
        font-weight: 500;
        font-size: large;
        font-family: 'Courier New', monospace;
        color: #101419;
        border: 3px double #FF474A;
    }
    output{
      margin-left: 1.85%;
      border-radius: 10px;
      padding: 10px;
      font-family: 'Courier New', monospace;
      color: #101419;
      font-size: 36px;
      background-color: #F2EEBA;
      border: 3px double #FF474A;
    }

    label{
      font-family: 'Courier New', monospace;
      color: #101419;
      font-weight: 500;
      font-size: 28px;
      text-align: center;

    }

    .button{
      color: #101419;
      background-color: #FF474A;
      padding: 15px 100px;
      border: 0px;
      border-radius: 10px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 22px;
      font-weight: 600;
      border: 3px double #ddd;
    }
    </style>
    
    <body class="body">
        <div class="main_container">
          <h1>Markov's Sentences</h1>
            <form action="{{ url_for('index') }}" method="post">
                <label>Starting prompt:</label>
                <input type="text" class="prompt" id="prompt" name="prompt" autocomplete="off">
                <br><br>
                <label for="slider">Select a state for Markov (1-5):</label>
                <br><br>
                <input type="range" id="slider" name="slider" class="slider" min="1" max="5" value="3" step="1" oninput="sliderOutput.value = slider.value">
                <output name="sliderOutput" id="sliderOutput">3</output>
                <br><br>
                <input type="submit" value="Generate" class="button">
              </form>
            <div>
                {% for i in sentences %}
                <p class="gen_sentence">{{i.sentence}}</p>
                {% endfor %}
            </div>
        </div>
    </body>
    